@media (max-width: 500px) {
  .big {
    display: none;
  }

  .small-navbar {
    display: block;
  }

  .break {
    display: block;
  }

  .background-video,
  .games,
  .about,
  .values,
  .swiper-container,
  .schedule-events-news {
    border-bottom: 2px solid;
  }

  .hero {
    padding-top: 3rem;
  }

  .h1-wrapper {
    height: auto;
    padding: 0 0 0 2rem;
  }

  .games {
    height: auto;
  }

  .games-wrapper {
    padding: 0.8rem;
    gap: 1rem;
  }

  .games-wrapper img {
    width: auto;
    height: 80%;
    overflow: hidden;
  }

  .about-text-wrapper {
    width: 80%;
    gap: 2rem;
  }

  .about-container {
    gap: 3rem;
    padding-top: 3rem;
  }

  .values-container {
    gap: 3rem;
  }

  .value-card p {
    padding: 1rem;
  }

  .values-cards {
    flex-direction: column;
  }

  .value-card {
    width: 80%;
  }

  .values-background-img {
    height: 250%;
  }

  .value-card-wrapper {
    width: 100%;
    gap: 1rem;
  }

  .swiper {
    margin-top: 5rem;
    width: 80%;
  }

  .swiper-slide {
    width: 450px;
    height: 400px;
  }

  .swiper-container {
    padding-bottom: 5rem;
  }

  .swiper-background-img {
    width: 100%;
    height: 100%;
  }

  .schedule-wrapper {
    width: 80%;
  }

  .time {
    line-height: 1.5;
    gap: 2.5rem;
  }

  .times {
    max-height: 100%;
    flex-direction: row;
    padding: 1rem;
    margin-top: 3rem;
  }

  .schedule-background-img {
    height: 400%;
  }

  .schedule-container {
    padding-top: 5rem;
  }

  .news-cards {
    flex-direction: column;
  }

  .news-card {
    width: 100%;
  }

  .news-body {
    padding: 1rem;
  }

  .news-wrapper h3 {
    padding-bottom: 1rem;
  }

  .tag {
    font-size: 0.7rem;
  }

  .events-container {
    gap: 1rem;
  }

  .events-wrapper {
    flex-direction: column;
  }

  .events-card {
    width: 100%;
  }

  .events-header {
    gap: 0rem;
    justify-content: space-between;
    padding-left: 2vw;
  }

  .contact-header p {
    width: 80%;
  }

  .contact-container {
    padding-bottom: 5rem;
  }

  .contact-address-form {
    flex-direction: column-reverse;
    padding-top: 3rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .contact-background-img {
    height: 180%;
    filter: blur(2px) brightness(35%);
  }

  .form-wrapper {
    width: 80%;
  }

  .contact-form {
    filter: none;
    box-shadow: -1px 1px 51px 7px rgba(0, 0, 0, 0.65);
    -webkit-box-shadow: -1px 1px 51px 7px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: -1px 1px 51px 7px rgba(0, 0, 0, 0.65);
  }


  .address-wrapper {
    text-align: center;
  }

  .address-wrapper h1 {
    font-size: 1.5rem;
  }

  .address-wrapper p {
    font-size: 1.1rem;
    line-height: 1.5;
  }

  .pre-footer {
    height: 15vh;
  }

  .main-footer {
    padding: 2vh 10% 10vh 10%;
  }

  .footer-logo {
    width: 70px;
  }

  .footer-navigation {
    font-size: 0.8rem;
  }

  .footer-navigation ul {
    gap: 1rem;
  }
}


@media (min-width: 501px) and (max-width:770px) {

  .big {
    display: block;
  }

  .nav-container {
    width: 100%;
  }

  .nav-links a {
    font-size: 1rem;
  }

  .nav-links ul {
    gap: 3rem;
    padding-right: 2rem;
  }


  .logo-container img {
    width: 25%;
    height: auto;
  }

  .background-video,
  .games,
  .about,
  .values,
  .swiper-container,
  .schedule-events-news {
    border-bottom: 2px solid;
  }


  .h1-wrapper {
    height: auto;
    padding: 3rem 0 0 2rem;
  }

  .games {
    height: auto;
  }

  .games-wrapper {
    padding: 0.8rem;
    gap: 1rem;
  }

  .games-wrapper img {
    width: auto;
    height: 80%;
    overflow: hidden;
  }

  .about-text-wrapper {
    width: 70%;
    gap: 2rem;
  }

  .about-container {
    gap: 3rem;
    padding-top: 3rem;
  }

  .values-container {
    gap: 3rem;
  }

  .value-card p {
    font-size: 1.2rem;
    padding: 1.2rem;
  }

  .values-cards {
    flex-direction: column;
  }

  .value-card {
    width: 60%;
  }

  .values-background-img {
    height: 250%;
  }

  .value-card-wrapper {
    width: 100%;
    gap: 1rem;
  }

  .swiper {
    margin-top: 5rem;
    width: 80%;
  }

  .swiper-slide {
    width: 450px;
    height: 400px;
  }

  .swiper-container {
    padding-bottom: 5rem;
  }

  .swiper-background-img {
    width: 100%;
    height: 100%;
  }

  .news-cards {
    flex-direction: column;
  }

  .news-card {
    width: 100%;
  }

  .news-body {
    padding: 2rem;
  }

  .news-body h4 {
    font-size: 1.2rem;
  }

  .news-wrapper h3 {
    padding-bottom: 1rem;
  }

  .tag {
    font-size: 0.7rem;
  }

  .events-container {
    gap: 1rem;
  }

  .events-wrapper {
    flex-direction: column;
  }

  .events-card {
    width: 100%;
  }

  .event-name h4 {
    font-size: 1.5rem;
  }

  .event-name p {
    font-size: 1.2rem;
  }

  .events-body {
    gap: 3rem;
  }

  .event-time {
    font-size: 1.1rem;
  }

  .events-header {
    gap: 0rem;
    justify-content: space-between;
    padding-left: 2vw;
  }

  .time {
    line-height: 1.5;
    gap: 5rem;
  }

  .times {
    max-height: 100%;
    flex-direction: row;
    padding: 1rem;
    margin-top: 3rem;
  }

  .schedule-background-img {
    height: 350%;
  }

  .contact-header p {
    width: 80%;
  }

  .contact-container {
    padding-bottom: 5rem;
  }

  .contact-address-form {
    flex-direction: column-reverse;
    padding-top: 3rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .contact-background-img {
    height: 120%;
    filter: blur(2px) brightness(35%);
  }

  .form-wrapper {
    width: 70%;
  }

  .contact-form {
    filter: none;
    box-shadow: -1px 1px 51px 7px rgba(0, 0, 0, 0.65);
    -webkit-box-shadow: -1px 1px 51px 7px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: -1px 1px 51px 7px rgba(0, 0, 0, 0.65);
  }


  .address-wrapper {
    text-align: center;
  }

  .address-wrapper h1 {
    font-size: 1.5rem;
  }

  .address-wrapper p {
    font-size: 1.1rem;
    line-height: 1.5;
  }

  .pre-footer {
    height: 15vh;
  }

  .main-footer {
    padding: 2vh 10% 10vh 10%;
  }

  .footer-logo {
    width: 80px;
  }

  .footer-navigation {
    font-size: 1.1rem;
  }

  .footer-navigation ul {
    gap: 1rem;
  }
}